{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "Mes réservations" | trans({}, 'SonataUserBundle')}}</h3>
        </div>
        <div class="panel-body">
            {% if orders|length > 0 %}
                    <div class="row">
                        <div class="col-md-3 text-center"><strong>Référence</strong></div>
                        <div class="col-md-3 text-center"><strong>Date de création</strong></div>
                        <div class="col-md-3 text-center"><strong>Prix</strong></div>
                        <div class="col-md-3 text-center"><strong>Détail</strong></div>
                    </div>
                    <hr>
                    {% for order in orders %}
                        <div class="row">
                            <div class="col-md-3 text-center">{{ order.reference }}</div>
                            <div class="col-md-3 text-center">{{ order.createdAt|date("d/m/Y", "Europe/Paris") }}</div>
                            <div class="col-md-3 text-center">{{ order.baseTotal|number_format }}</div>
                            <div class="col-md-3 text-center"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#detail-{{ order.reference }}">Détail</button></div>
                        </div>
                        <div class="row collapse out" id="detail-{{ order.reference }}">
                        <div class="row">
                            <div class="col-md-4 text-center"><strong>Activité</strong></div>
                            <div class="col-md-4 text-center"><strong>Places</strong></div>
                            <div class="col-md-4 text-center"><strong>Total</strong></div>
                        </div>
                        <hr>
                        {% for item in order.items %}
                            <div class="col-md-4 text-center">{{ item.timeSlot }}</div>
                            <div class="col-md-4 text-center">{{ item.qty }}</div>
                            <div class="col-md-4 text-center">{{ item.rowTotal }}</div>
                        {% endfor %}
                        </div>
                        <hr>
                    {% endfor %}
            {% else %}
                <div class="panel-body">
                        <p>Vous n'avez pas encore fait de réservation.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}