{% extends 'ZenwebAventureParcBundle:Front:no_menu_layout.html.twig' %}
{% block zenweb_fo_content %}

<section class="content" style="padding:5% 20% 0 20%">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">Paiement de votre commande</div>
        <div class="panel-body">
        <form action="{{ oTpe.sUrlPaiement }}" method="post" id="PaymentRequest">
            <p>
                <input type="hidden" name="version"             id="version"        value="{{ oTpe.sVersion }}" />
                <input type="hidden" name="TPE"                 id="TPE"            value="{{ oTpe.sNumero }}" />
                <input type="hidden" name="date"                id="date"           value="{{ sDate }}" />
                <input type="hidden" name="montant"             id="montant"        value="{{ sMontant }}{{ sDevise }}" />
                <input type="hidden" name="reference"           id="reference"      value="{{ sReference }}" />
                <input type="hidden" name="MAC"                 id="MAC"            value="{{ sMAC }}" />
                <input type="hidden" name="url_retour"          id="url_retour"     value="{{ oTpe.sUrlKO }}" />
                <input type="hidden" name="url_retour_ok"       id="url_retour_ok"  value="{{ oTpe.sUrlOK }}" />
                <input type="hidden" name="url_retour_err"      id="url_retour_err" value="{{ oTpe.sUrlKO }}" />
                <input type="hidden" name="lgue"                id="lgue"           value="{{ oTpe.sLangue }}" />
                <input type="hidden" name="societe"             id="societe"        value="{{ oTpe.sCodeSociete }}" />
                <input type="hidden" name="texte-libre"         id="texte-libre"    value="{{ sTexteLibre }}" />
                <input type="hidden" name="mail"                id="mail"           value="{{ sEmail }}" />
                <input type="submit" name="bouton"              id="bouton"         value="Accéder au paiement" />
            </p>
        </form>
    </div>
</section>
{% endblock %}
