{% extends "DpCalendarBundle::layout.html.twig" %}

{% block DpCalendar_body %}

<h1>Symfocal Administration</h1>
<div id="symfocal_admin" class="shadow_effect">
        
    <div id="manager">
        <div id="symfocal_admin_menu">
            <ul>
                <li><a href="{{ path('dp_calendar_admin') }}">Manage bookings</a></li>
                <li><a href="{{ path('item') }}">Manage items</a></li>
                <li><a class="admin_menu_selected" href="{{ path('state') }}">Manage states</a></li>
            </ul>
        </div>
    </div>
    
    <h2>state creation</h2>
    
    <form action="{{ path('state_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
    
    <p>
        <a href="{{ path('state') }}">
            Back to the list
        </a>
    </p>
            
</div>

{% endblock %}