{% extends 'ZenwebAventureParcBundle:Admin:standard_layout.html.twig' %}
{% block sonata_page_content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "Tableau de bord du parc" | trans({}, 'ParcBundle')}}</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ "Filtre de sélection" | trans({}, 'ParcBundle')}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            Parc :
                            <select id="chooseParc" >
                                {% set parcDefault = '' %}
                                {% for parc in parcs %}
                                    {% if loop.last %}
                                        {% set parcDefault = parc.id %}
                                    {% endif %}
                                    <option value="{{ parc.id }}">{{ parc.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 text-center">
                            Date :
                            <input type="text" value="{{ date }}" id="datepicker"></p>
                        </div>
                        <div class="col-md-4 text-center">
                            Activité :
                            <select id="chooseActivity" >
                                <option value="all">Toutes</option>
                                {% for activity in activities %}
                                    <option value="{{ activity.id }}">{{ activity.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end filtre -->
            {{ render(controller('ZenwebAventureParcBundle:Admin/dashboard:content', { 'parc': parcDefault, 'date': date, 'activity': 'all' })) }}
        </div>
    </div>
{%  endblock %}
{% block javascripts %}
        {{ parent() }}
        <script>
            $( document ).ready(function() {
                getContentDashboard();
                $( "#datepicker" ).datepicker();

                $( '#chooseParc' ).change(function() {
                    getContentDashboard()
                });

                $( '#datepicker' ).change(function() {
                    getContentDashboard()
                });

                $( '#chooseActivity' ).change(function() {
                    getContentDashboard()
                });

            });
            function getContentDashboard() {
                var parc = $( '#chooseParc option:selected').val();
                var date = $( '#datepicker').val();
                var activity = $( '#chooseActivity option:selected').val();
                var name = $( '#nameSearch').val();
                var ref = $( '#refSearch').val();
                var mail = $( '#mailSearch').val();
                var data = '/'+parc+'/'+date+'/'+activity+'/'+name+'/'+ref+'/'+mail;
                $('#contentDashboard').html('');
                $('#contentDashboard').append( 'Rechargement en cours ...');
                $.ajax({
                    type: "POST",
                    dataType: 'html',
                    url: "{{ path('zenweb_aventure_parc_admin_dashboard_content') }}"+ data,
                    success: function (msg) {
                        $('#contentDashboard').html('');
                        $('#contentDashboard').append( msg);
                    },
                    error: function (msg) {
                        $('#contentDashboard').html('');
                        $('#contentDashboard').append( 'Erreur lors du chargement... Veuillez réessayer.');
                    }
                });
            }
        </script>
{%  endblock %}
