{% extends 'ZenwebAventureParcBundle:Admin:standard_layout.html.twig' %}
{% form_theme form 'ZenwebAventureParcBundle:Form:fields.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/zenwebaventureparc/css/step.css') }}" media="all">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zenwebaventureparc/js/order.js') }}"></script>
{% endblock %}
{% block top_bar_after_nav %}
    <li>
        <a href="{{ path('zenweb_aventure_parc_order_create_form') }}">Create an order</a>
    </li>
{% endblock %}
{% block sonata_page_content %}
    <section class="content">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">Création de commande</div>
            <div class="panel-body">
            {% include 'ZenwebAventureParcBundle:Admin:stepList.html.twig' %}
            <form method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                {% if flow.getCurrentStepNumber() == 1 %}
                    <div>
                        {{ form_row(form.order.parc) }}
                    </div>
                {% elseif flow.getCurrentStepNumber() == 2 %}
                    {% include 'ZenwebAventureParcBundle:Admin:pick_date.html.twig' %}
                {% elseif flow.getCurrentStepNumber() == 6 %}
                    {% include 'ZenwebAventureParcBundle:Admin:pick_activities.html.twig' %}
                {% elseif flow.getCurrentStepNumber() == 7 %}
                    {% include 'ZenwebAventureParcBundle:Admin:pick_extras.html.twig' %}
                {% endif %}
                {{ form_rest(form) }}


                {% include 'ZenwebAventureParcBundle:Admin:buttons.html.twig' %}
            </form>
            </div>
        </div>
    </section>
{% endblock %}

