<form method="post" class="form-horizontal" {{ form_enctype(form) }}>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Nouveau client</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    {{ form_label(form.order.user.gender, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.order.user.gender, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.order.user.lastname, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.order.user.lastname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.order.user.firstname, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.order.user.firstname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.order.user.email, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.order.user.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.order.user.plainPassword, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.order.user.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox control-group">
                            <label for="newsletter">
                                {{ form_widget(form.order.user.newsletter) }}
                                Inscription à la newsletter
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" class="btn btn-primary" value="{{- 'button.next' | trans({}, 'CraueFormFlowBundle') -}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</form>
{% render controller("ZenwebAventureUserBundle:CheckoutSecurity:login") %}
